# Ambiente virtual
.venv/

# Arquivos do sistema
__pycache__/
*.py[cod]
*.DS_Store

# Dados grandes e intermediários
data/raw/
data/train/
data/processed/
models/

# Notebooks
*.ipynb_checkpoints/

